﻿@model WebSite.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = Resources.Register;
}
<h2>@ViewBag.Title.</h2>
<h3>@(Resources.AssociateYour + " " + @ViewBag.LoginProvider + " " + Resources.Account)</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>@Resources.AssociationForm</h4>
    <hr />
    @Html.ValidationSummary(true)
    <p class="text-info">
        @(Resources.SuccessfulAuthentication + " ") 
        <strong>@ViewBag.LoginProvider</strong>.
        @(" " + Resources.EnterUserName)   
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="@Resources.Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
