﻿html {
    margin: 0;
    padding: 0;
}

body {
    background: url(/content/images/carbon.jpg) top left repeat;
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 100px;
    background-color: white;
    position: relative;
    height: 100%;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.centercontents {
    text-align: center !important;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.underline {
    text-decoration: underline;
}

.very-small-margin {
    margin: 4px;
}

.footer-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

hr {
    width: 98%;
    margin: 0px;
    margin-bottom: 24px;
    padding: 0px;
}

.language-control.pull-right {
    margin-bottom: 20px;
    margin-right: 40px;
}

.shadow {
    -moz-box-shadow: 0 0 30px 8px #666;
    -webkit-box-shadow: 0 0 30px 8px #666;
}